doctype html
html(lang='en')
    head
        title COSC203: Birds of Aotearoa
        include templates/head.pug
        script(defer, src='/scripts/populate_form.js')
    body
        include templates/header.pug
        aside
            include templates/create_bird
            include templates/filter_form.pug
            include templates/status_legend.pug
        main
            each bird, index in birds
                include templates/bird_card.pug
        include templates/footer.pug