doctype html
html(lang="en")
    head
        title V
        include templates/head.pug
    body
        include templates/header.pug
        aside
            include templates/return_home
            include templates/status_legend
        main
            include templates/bird_card
        include templates/footer.pug